# 忽略所有 Python 编译缓存
__pycache__/



# 忽略 C++ 编译生成的程序
*.exe
*.o
*.obj

# 忽略系统自动生成的文件 (比如 Mac 的缩略图缓存)
.DS_Store
Thumbs.db

# 忽略本地编辑器配置 (可选)
.vscode/
.idea/




# 忽略数据集和训练结果
datasets/
giveup/
build/
dist/
ultralytics/data/
VISO/
VisDrone/
USOD/
data/

data/*.zip
data/*.tar
data/*.gz

# 忽略 Python 缓存
__pycache__/
.ipynb_checkpoints/


mmyolo-main/*.zip
*.tar.gz
VISO.zip
